@import "tailwindcss";

@theme {
    --color-primary: hsl(263, 55%, 52%);
    --color-primary-dark: hsl(217, 19%, 35%);
    --color-primary-blackish: hsl(219, 29%, 14%);

    --color-gray-100: hsl(0, 0%, 81%);
    --color-gray-200: hsl(210, 46%, 95%);
}

@layer components {
    .card {
        @apply rounded-lg p-8;
    }

    .card-container-name {
        @apply inline-flex items-center gap-2 mb-4;
    }

    .card-person {
        @apply flex flex-col;
    }

    .card-photo {
        @apply rounded-full border-2 border-white/50 w-10 h-10;
    }

    .card-info {
        @apply mb-4 text-2xl font-bold;
    }

    .card-description {
        @apply font-bold text-white/50;
    }
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    margin: 0;
}
