@import "tailwindcss";

@theme {
    --color-primary: hsl(263, 55%, 52%);
    --color-primary-dark: hsl(217, 19%, 35%);
    --color-primary-blackish: hsl(219, 29%, 14%);

    --color-gray-100: hsl(0, 0%, 81%);
    --color-gray-200: hsl(210, 46%, 95%);
}

@layer components {
    .card {
        @apply rounded-lg p-8 shadow-2xl;
    }

    .card-container-name {
        @apply mb-4 inline-flex items-center gap-2;
    }

    .card-person {
        @apply flex flex-col;
    }

    .card-photo {
        @apply h-10 w-10 rounded-full border-2 border-white/50;
    }

    .card-info {
        @apply mb-4 text-2xl font-bold;
    }

    .card-description {
        @apply font-bold text-white/50;
    }
}


body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh;
}
